# Lab 2
# 0. Intro
Welcome to lab 2!  Last time, we had our first look at Python and Jupyter notebooks.  It's important to see these things more than once, so today will be a combination of review and some new topics.  We'll review:

* Pieces of code that have values (called *expressions*), including function call expressions
* Lines of code that do things (called *statements*)

You'll also learn about:
* How different kinds of values are represented
* How to work with text (called *strings* in Python)
* How to invoke *methods*
* How to access existing functions by *importing modules*
* How to reference those functions using *dot notation*
* How to compare values
* How to make and use *arrays*, which are objects that hold onto many values in order

First, execute the following cell to set up the automatic tests for this lab.

In [1]:
# Test cell; please do not change!
from client.api.assignment import load_assignment 
lab02 = load_assignment('lab02.ok')

=====================================================================
Assignment: Lab 2
OK, version v1.6.14
=====================================================================

# 1. Review: The building blocks of Python code
The two building blocks of Python code are *expressions* and *statements*.  An expression is a piece of code that is self-contained and (usually) *has a value*.  Here are some expressions:

    3
    2 - 3
    abs(2 - 3)
    max(3, pow(2, abs(2 - 3) + pow(2, 2)))

All these expressions but the first are *compound expressions*, meaning that they are themselves combinations of several smaller expressions.  `2 + 3` combines the expressions `2` and `3` by addition.

A *statement* is a whole line of code.  Some statements are just expressions.  Others *make something happen* rather than *having a value*.  After they are run, something in the world has changed.  For example, an assignment statement assigns a value to a value.  Here are some statements:
    
    height = 1.3
    the_number_five = abs(-5)
    absolute_height_difference = abs(height - 1.688)

A key idea in programming is that large, interesting things can be built by combining many simple, uninteresting things.  The key to understanding a complicated piece of code is breaking it down into its simple components.

For example, a lot is going on in the last statement above, but it's really just a combination of a few things.  This picture describes what's going on.

<img src="statement.jpg">

**Question 1.0.** In the next cell, assign the name `new_year` to the larger number among the following two numbers: $|2^{5} - 2^{11}|$ and $5 \times 13 \times 31$.  Try to use just one statement (one line of code).

In [2]:
new_year = max(abs(2**5 - 2**11), 5*13*31) #SOLUTION
new_year

2016

Check your work by executing the next cell.

In [3]:
_ = lab02.grade('q10')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

# 2. Text
Programming doesn't just concern numbers. Text is one of the most common types of values used in programs. 

A snippet of text is represented by a *string value* in Python. The word "*string*" is a computer science term for a sequence of characters. A string might contain a single character, a word, a sentence, or a whole book. Strings have quotation marks around them. Single quotes (apostrophes) and double quotes are both valid. The contents can be any sequence of characters, including numbers and symbols. 

Below, two different strings are passed as arguments to the `print` function.

In [4]:
print("I <3", 'Data Science')

I <3 Data Science

Names can be given to string values, and the names and strings aren't required to be similar. Any name can be given to any string.

**Question 2.0.** Replace each `...` with a single-word string literal below so that the final expression prints its punchline.

In [5]:
why_was = "Because"
six = "seven" # SOLUTION
afraid_of = "eight"
seven = "nine" # SOLUTION
print(why_was, six, afraid_of, seven)

Because seven eight nine

In [6]:
_ = lab02.grade('q20')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 2.0. String Methods

Strings can be transformed using *methods*, which are functions that involve an existing string and some other arguments. For example, the `replace` method replaces all instances of some part of a string with some replacement. A method is invoked on a string by placing a `.` after the string value, then the name of the method, and finally parentheses containing the arguments. 

    <string>.<method name>(<argument>, <argument>, ...)
    
Try to predict the output of these examples, then execute them.

In [7]:
# Replace one letter
'Hello'.replace('o', 'a')

'Hella'

In [8]:
# Replace a sequence of letters, twice
'hitchhiker'.replace('hi', 'ma')

'matchmaker'

In [9]:
# Two calls to replace
'train'.replace('t', 'ing').replace('in', 'de')

'degrade'

Once a name is bound to a string value, methods can be invoked on that name as well. The name doesn't change in this case; and so a new name is needed to capture the result.

In [10]:
sharp = 'edged'
hot = sharp.replace('ed', 'ma')
print('sharp =', sharp)
print('hot =', hot)

sharp = edged
hot = magma

**Question 2.0.0** Assign strings to the names `you` and `this` so that the final expression evaluates to a 10-letter English word with three double letters in a row. *Hint*: Ask your neighbors (or Google) if you can't think of a word that has three double letters in a row.

In [11]:
you = 'keep' # SOLUTION
this = 'book' # SOLUTION
a = 'beeper'
the = a.replace('p', you) 
the.replace('bee', this)

'bookkeeper'

In [12]:
_ = lab02.grade('q200')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Other string methods do not take any arguments at all, because the original string is all that's needed to compute the result. In this case, parentheses are still needed, but there's nothing in between the parentheses. For example, 

    lower:      return a lowercased version of the string
    upper:      return a lowercased version of the string
    capitalize: return a version with the first letter capitalized
    title:      return a version with the first letter of every word capitalized

In [13]:
'unIverSITy of caliFORnia'.title()

'University Of California'

Strings also have a method called `zfill` that "pads" them with the character `0` so that they reach a certain length.  That length is an argument to the method, just like functions take arguments.  This can be useful for displaying numbers in a uniform format:

In [14]:
print("5.12".zfill(6))
print("10.50".zfill(6))

005.12
010.50

## 2.1. Converting to and from Strings

Strings and numbers are different *types* of values, even when a string contains the digits of a number. For example, evaluating the following cell causes an error because an integer cannot be added to a string.

In [15]:
8 + "8"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

However, there are built-in functions to convert numbers to strings and strings to numbers. 

    int:   Converts a string of digits to an int value
    float: Converts a string of digits, perhaps with a decimal point, to a float value
    str:   Converts any value to a string

Try to predict what the following cell will evaluate to, then evaluate it.

In [16]:
int("20" + str(8 + int("8")))

2016

**Question 2.1.0.** Assign `good` to a string that makes the final expression below evaluate to the integer 99.

In [17]:
good = "1" # SOLUTION
lol = "L" + str(0) + "L"
int(lol.replace("L", good)) - 2

99

In [18]:
_ = lab02.grade('q210')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 2.2. String Arguments
String values, like numbers, can be arguments to functions and can be returned by functions.  The function `len` takes a single string as its argument and returns the number of characters in the string: its **len**gth.

**Question 2.2.0.**  Use `len` to find out the length of the very long string in the next cell.  (It's the first sentence of the English translation of the French [Declaration of the Rights of Man](http://avalon.law.yale.edu/18th_century/rightsof.asp).)  The length of a string is the total number of characters in it, including things like spaces and punctuation.  Assign `sentence_length` to that number.

In [19]:
a_very_long_sentence = "The representatives of the French people, organized as a National Assembly, believing that the ignorance, neglect, or contempt of the rights of man are the sole cause of public calamities and of the corruption of governments, have determined to set forth in a solemn declaration the natural, unalienable, and sacred rights of man, in order that this declaration, being constantly before all the members of the Social body, shall remind them continually of their rights and duties; in order that the acts of the legislative power, as well as those of the executive power, may be compared at any moment with the objects and purposes of all political institutions and may thus be more respected, and, lastly, in order that the grievances of the citizens, based hereafter upon simple and incontestable principles, shall tend to the maintenance of the constitution and redound to the happiness of all."
sentence_length = len(a_very_long_sentence) #SOLUTION
sentence_length

896

In [ ]:
_ = lab02.grade('q220')

## 2.3. What *is* a string?
Strings are our third example of a type of value.  The first values we saw were numbers.  Every value (that is, everything that can be named) in Python has a type.  Python has many types, and we'll see several more in this lab alone. 

If you're writing complicated code and you're confused about what kind of thing something is, the `type` function is helpful.  It takes a single argument and returns that argument's type.  For example, `type(2)` is `int`, which is short for integer.  `type(2.5)` is `float`, which is Python's name for any number that it thinks might have a fractional part.

**Question 2.3.0.**  Using `type`, assign `sentence_type` to the type of `a_very_long_sentence`.

In [20]:
sentence_type = type(a_very_long_sentence) #SOLUTION
sentence_type

str

In [ ]:
_ = lab02.grade('q230')

# 3. Importing code

> What has been will be again,  
> what has been done will be done again;  
> there is nothing new under the sun.

Most programming involves work that is very similar to work that has been done before.  Since writing code is time-consuming, it's good to rely on others' published code when you can.  Rather than copy-pasting, Python allows us to *import* other code, creating a *module* that contains all of the names created by that code.  Python includes many useful modules that are just an `import` away.  We'll look at the `math` module as a first example.

Suppose we want to very accurately compute the area of a circle with radius 5 meters.  For that, we need the constant $\pi$, which is roughly 3.14.  Conveniently, the `math` module defines `pi` for us:

In [21]:
import math
radius = 5
area_of_circle = radius**2 * math.pi
area_of_circle

78.53981633974483

`pi` is defined inside `math`, and the way that we access names that are inside modules is by writing the module's name, then a dot, then the name of the thing we want:

    <module name>.<name>
    
In order to use a module at all, we must first write the statement `import <module name>`.  That statement creates a module object with things like `pi` in it and then assigns the name `math` to that module.  Above we have done that for `math`.

**Question 3.0.** `math` also provides the name `e` for the base of the natural logarithm, which is roughly 2.71.  Compute $e^{\pi}-\pi$, giving it the name `near_twenty`.

In [22]:
near_twenty = math.e ** math.pi - math.pi # SOLUTION
near_twenty

19.99909997918947

In [ ]:
_ = lab02.grade('q30')

![XKCD](http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png)

## 3.0. Importing functions
Modules can provide other named things, including functions.  For example, `math` provides the name `sin` for the sine function.  Having imported `math` already, we can write `math.sin(3)` to compute the sine of 3.  (Note that this sine function considers its argument to be in [radians](https://en.wikipedia.org/wiki/Radian), not degrees.  180 degrees are equivalent to $\pi$ radians.)

**Question 3.0.0.** Compute the sine of $\frac{\pi}{4}$ using `sin` and `pi` from the `math` module.  Give the result the name `sine_of_pi_over_four`.

<img src="http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif">
(Source: [Wolfram MathWorld](http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif))

In [23]:
sine_of_pi_over_four = math.sin(math.pi / 4) #SOLUTION
sine_of_pi_over_four

0.7071067811865475

In [ ]:
_ = lab02.grade('q300')

For your reference, here are some more examples of functions from the `math` module:

In [ ]:
# Calculating factorials.
math.factorial(5)

In [ ]:
# Calculating logarithms (the logarithm of 8 in base 2).
math.log(8, 2)

In [ ]:
# Calculating square roots.
math.sqrt(5)

In [ ]:
# Calculating cosines.
math.cos(math.pi)

People have written Python functions that do very cool and complicated things, like crawling web pages for data, transforming videos, or doing machine learning with lots of data.  Now that you can import things, when you want to do something with code, first check to see if someone else has done it for you.  Let's see an example of a function that's used for downloading and displaying pictures.

The module `IPython.display` provides a function called `Image`.  `Image` takes a single argument, a string that is the URL of the image on the web.  It returns an *image* value that this Jupyter notebook understands how to display.  To display an image, make it the value of the last expression in a cell, just like you'd display a number or a string.

**Question 3.0.1.** In the next cell, import the module `IPython.display` and use its `Image` function to display the image at this URL:

    https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/David_-_The_Death_of_Socrates.jpg/1024px-David_-_The_Death_of_Socrates.jpg

Give the name `art` to the output of the function call, then make the last line of the cell `art` to see the image.  (It might take a few seconds to load the image.  It's a painting called *The Death of Socrates* by Jacques-Louis David, depicting events from a philosophical text by Plato.)

In [ ]:
_ = lab02.grade('q301')

# 4. Comparison
Suppose you want to use Python to see whether two things are related in some way.  For example, you might want to know whether one chapter of a book has more words than another, whether one event occurred before another, or whether two cities (identified by name) are actually the same city.  For these cases, we use *comparisons*.  They produce new kinds of values called `True` or `False`.  Those values are called *boolean* values, after the logician George Boole.

For the most part, comparisons look familiar.  They're just expressions.  Run this one to see what its value is:

In [24]:
2 > 3

False

Since comparisons are expressions that have values, you can give their values names:

In [25]:
is_two_bigger_than_three = 2 > 3

(You can put parentheses around the `2 > 3` part if it makes you more comfortable, but it's not necessary.)

For comparing one number to another, Python provides the operators `>` (greater than), `<` (less than), `>=` (greater than or equal to), and `<=` (less than or equal to).  To check whether two numbers are equal, we use `==` rather than `=`, since `=` is already used for assigning names.  Like arithmetic operators, comparison operators can involve any expressions, not just bare numbers.

**Question 4.0.** Check whether $3^{10}$ is larger than $4^9$.  (Count it as larger than $4^9$ if they're both equal.)  Give the result of the comparison (a `True` or `False` value) the name `three_to_the_tenth_is_larger`.

In [26]:
three_to_the_tenth_is_larger = 3**10 > 4**9 #SOLUTION
three_to_the_tenth_is_larger

False

In [ ]:
_ = lab02.grade('q40')

**Question 4.1.** Check whether $2 + 2$ equals $4$.  Give the result of the comparison the name `two_plus_two_is_four`.

In [27]:
two_plus_two_is_four = 2 + 2 == 4 #SOLUTION
two_plus_two_is_four

True

In [ ]:
_ = lab02.grade('q41')

**Question 4.2.** The `==` operator works on many values, including strings.  The next cell has two quotes from a famous computer scientist, Donald Knuth.  Use it to check whether the two quotes are the same.  Assign the result the name `quotes_are_the_same`.

In [28]:
a_quote = "Let us change our traditional attitude to the construction of programs. Instead of imagining that our main task is to instruct a computer what to do, let us concentrate rather on explaining to human beings what we want a computer to do."
another_quote = "let us change oUr Traditional attitude to the Construction of programs. Instead of Imagining that our main task is to instruct A coMPuter what to do, let us concentrate rather on explaining to human beings what we want a COmputer to do."
quotes_are_the_same = a_quote == another_quote #SOLUTION
quotes_are_the_same

False

In [ ]:
_ = lab02.grade('q42')

**Question 4.3.**  The passages look the same, and in fact they *are* the same, except that the capitalization of `another_quote` has been mangled.  Python considers two strings with the same letters and different capitalization to be different.  Use the string method `lower` to check whether the two strings are the same *after they've both been lowercased*.  (This is a way to check whether two strings are the same without counting capitalization differences.) Assign the result the name `quotes_have_the_same_letters`.

In [29]:
quotes_have_the_same_letters = a_quote.lower() == another_quote.lower() #SOLUTION
quotes_have_the_same_letters

True

In [ ]:
_ = lab02.grade('q43')

# 5. Arrays
We finish this lab with a very important new type: arrays.  Up to now, we haven't done much that you couldn't do yourself by hand, without going through the trouble of learning Python.  Computers are most useful when you can use a small amount of code to *do the same action* to *many different things*.  For example, in the time it takes you to calculate the 18% tip on a restaurant bill, a laptop can calculate 18% tips for every restaurant bill paid by every human on Earth that day.

Arrays are how we put many values in one place so that we can operate on them as a group.  For example, if `billions_of_numbers` is an array of numbers, the expression `.18 * billions_of_numbers` gives a new array of numbers that's the result of multiplying each number in `billions_of_numbers` by .18 (18%).  Arrays are not limited to numbers; we can also put all the words in a book into an array of strings.

Arrays are provided by a package called [NumPy](http://www.numpy.org/) (pronounced "NUM-pie" or, if you prefer to pronounce things incorrectly, "NUM-pee").  The package is called `numpy`, but it's standard to rename it `np` for brevity.  You can do that with:

    import numpy as np

## 5.0. Lists
While arrays are part of the NumPy package, Python has built-in support for a similar thing called a *list*.  Lists are less useful for data science, so we'll mostly use arrays in this class.  But many built-in functions take lists as arguments (including the functions for making arrays!) so you have to know how to create them.

Python has a special expression just for making lists: you enclose a comma-separated sequence of expressions in `[`square brackets`]`.  Here is a list expression whose value is a list with 4 numbers in it:

In [ ]:
[1, 2, 4, 8]

Like other values, we can assign names to lists.  Here are some more examples:

In [30]:
powers_of_two = [1, 2, 4, 8]
list_with_one_number = [5.5]
empty_list = []
list_of_strings = ["Hello", "world", "!"]
list_of_booleans = [True, True, False]
another_list_of_booleans = [3 > 2, 4 == 5]

**Question 5.0.0.** Make a list of lists containing `list_of_strings` and `another_list_of_booleans`. The output should look like: 

    [['Hello', 'world', '!'], [True, False]]

In [31]:
list_of_lists = [list_of_strings, another_list_of_booleans] #SOLUTION
list_of_lists

[['Hello', 'world', '!'], [True, False]]

In [ ]:
_ = lab02.grade('q500')

## 5.1. Making arrays
To create an array, call the function `np.array` on a list.  This function takes a list as its argument and returns an array containing the same things as the list (in the same order).  Run this cell to see an example:

In [32]:
import numpy as np
np.array([0.125, 4.75, -1.3])

array([ 0.125,  4.75 , -1.3  ])

Seeing square brackets inside parentheses is sometimes confusing; make sure you understand how this works.  We are just calling a function (`np.array`) with a single argument, which happens to be a list created using square brackets.  The cell above is a more concise way of saying:

In [33]:
some_numbers = [0.125, 4.75, -1.3]
np.array(some_numbers)

array([ 0.125,  4.75 , -1.3  ])

**Question 5.1.0.** Make an array containing the numbers 1, 2, and 3, in that order.  Name it `small_numbers`.

In [34]:
small_numbers = np.array([1, 2, 3]) #SOLUTION
small_numbers

array([1, 2, 3])

In [ ]:
_ = lab02.grade('q510')

**Question 5.1.1.** Make an array containing the numbers 0, 1, -1, $\pi$, and $e$, in that order.  Name it `interesting_numbers`.  *Hint:* How did you get the values $\pi$ and $e$ earlier?  You can refer to them in exactly the same way here.

In [35]:
interesting_numbers = np.array([0, 1, -1, math.pi, math.e]) #SOLUTION
interesting_numbers

array([ 0.        ,  1.        , -1.        ,  3.14159265,  2.71828183])

In [ ]:
_ = lab02.grade('q511')

**Question 5.1.2.** Make an array containing the five strings `"Hello"`, `","`, `" "` (that's just a single space inside quotes), `"world"`, and `"!"`.  Name it `hello_world_components`.

*Note:* If you print `hello_world_components`, you'll notice some extra information in addition to its contents: `dtype='<U5'`.  That's just NumPy's extremely cryptic way of saying that the things in the array are strings.

In [36]:
hello_world_components = np.array(["Hello", ",", " ", "world", "!"]) #SOLUTION
hello_world_components

array(['Hello', ',', ' ', 'world', '!'],
      dtype='<U5')

In [ ]:
_ = lab02.grade('q512')

### 5.1.0. `np.arange`
Very often in data science, we want to work with many numbers that are evenly spaced.  NumPy provides a special function for this called `arange`.  `arange(start, stop, space)` produces an array with all the numbers starting at `start` and counting up by `space`, stopping before `stop` is reached.

For example, the value of `np.arange(1, 6, 2)` is an array with elements 1, 3, and 5 -- it starts at 1 and counts up by 2, then stops before 6.  In other words, it's equivalent to `np.array([1, 3, 5])`.  `np.arange(4, 9, 1)` is an array with elements 4, 5, 6, 7, and 8.  (It doesn't contain 9 because `arange` stops *before* the stop value is reached.)

**Question 5.1.0.0.**  NOAA (the US National Oceanic and Atmospheric Administration) operates weather stations that measure surface temperatures at different sites around the United States.  The hourly readings are [publicly available](http://www.ncdc.noaa.gov/qclcd/QCLCD?prior=N).  Suppose we download all the hourly data from the Oakland, California site for the month of December 2015, and we find that the data don't include the timestamps of the readings (the time at which each one was taken).  We'll assume the first reading was taken at the first instant of December 2015 (midnight on December 1st) and each subsequent reading was taken exactly 1 hour after the last.

Create an array of the *time, in seconds, since the start of the month* at which each hourly reading was taken.  Name it `collection_times`.

*Hint:* There were 31 days in December, which is equivalent to $31 \times 24$ hours or $31 \times 24 \times 60 \times 60$ seconds.  So your array should have $31 \times 24$ elements in it.

*Hint 2:* The `len` function works on arrays, too.  Check the length of `collection_times` and make sure it has $31 \times 24$ elements.

In [37]:
collection_times = np.arange(0, 31*24*60*60, 60*60) #SOLUTION
collection_times

array([      0,    3600,    7200,   10800,   14400,   18000,   21600,
         25200,   28800,   32400,   36000,   39600,   43200,   46800,
         50400,   54000,   57600,   61200,   64800,   68400,   72000,
         75600,   79200,   82800,   86400,   90000,   93600,   97200,
        100800,  104400,  108000,  111600,  115200,  118800,  122400,
        126000,  129600,  133200,  136800,  140400,  144000,  147600,
        151200,  154800,  158400,  162000,  165600,  169200,  172800,
        176400,  180000,  183600,  187200,  190800,  194400,  198000,
        201600,  205200,  208800,  212400,  216000,  219600,  223200,
        226800,  230400,  234000,  237600,  241200,  244800,  248400,
        252000,  255600,  259200,  262800,  266400,  270000,  273600,
        277200,  280800,  284400,  288000,  291600,  295200,  298800,
        302400,  306000,  309600,  313200,  316800,  320400,  324000,
        327600,  331200,  334800,  338400,  342000,  345600,  349200,
        352800,  356400,  360000,  363600,  367200,  370800,  374400,
        378000,  381600,  385200,  388800,  392400,  396000,  399600,
        403200,  406800,  410400,  414000,  417600,  421200,  424800,
        428400,  432000,  435600,  439200,  442800,  446400,  450000,
        453600,  457200,  460800,  464400,  468000,  471600,  475200,
        478800,  482400,  486000,  489600,  493200,  496800,  500400,
        504000,  507600,  511200,  514800,  518400,  522000,  525600,
        529200,  532800,  536400,  540000,  543600,  547200,  550800,
        554400,  558000,  561600,  565200,  568800,  572400,  576000,
        579600,  583200,  586800,  590400,  594000,  597600,  601200,
        604800,  608400,  612000,  615600,  619200,  622800,  626400,
        630000,  633600,  637200,  640800,  644400,  648000,  651600,
        655200,  658800,  662400,  666000,  669600,  673200,  676800,
        680400,  684000,  687600,  691200,  694800,  698400,  702000,
        705600,  709200,  712800,  716400,  720000,  723600,  727200,
        730800,  734400,  738000,  741600,  745200,  748800,  752400,
        756000,  759600,  763200,  766800,  770400,  774000,  777600,
        781200,  784800,  788400,  792000,  795600,  799200,  802800,
        806400,  810000,  813600,  817200,  820800,  824400,  828000,
        831600,  835200,  838800,  842400,  846000,  849600,  853200,
        856800,  860400,  864000,  867600,  871200,  874800,  878400,
        882000,  885600,  889200,  892800,  896400,  900000,  903600,
        907200,  910800,  914400,  918000,  921600,  925200,  928800,
        932400,  936000,  939600,  943200,  946800,  950400,  954000,
        957600,  961200,  964800,  968400,  972000,  975600,  979200,
        982800,  986400,  990000,  993600,  997200, 1000800, 1004400,
       1008000, 1011600, 1015200, 1018800, 1022400, 1026000, 1029600,
       1033200, 1036800, 1040400, 1044000, 1047600, 1051200, 1054800,
       1058400, 1062000, 1065600, 1069200, 1072800, 1076400, 1080000,
       1083600, 1087200, 1090800, 1094400, 1098000, 1101600, 1105200,
       1108800, 1112400, 1116000, 1119600, 1123200, 1126800, 1130400,
       1134000, 1137600, 1141200, 1144800, 1148400, 1152000, 1155600,
       1159200, 1162800, 1166400, 1170000, 1173600, 1177200, 1180800,
       1184400, 1188000, 1191600, 1195200, 1198800, 1202400, 1206000,
       1209600, 1213200, 1216800, 1220400, 1224000, 1227600, 1231200,
       1234800, 1238400, 1242000, 1245600, 1249200, 1252800, 1256400,
       1260000, 1263600, 1267200, 1270800, 1274400, 1278000, 1281600,
       1285200, 1288800, 1292400, 1296000, 1299600, 1303200, 1306800,
       1310400, 1314000, 1317600, 1321200, 1324800, 1328400, 1332000,
       1335600, 1339200, 1342800, 1346400, 1350000, 1353600, 1357200,
       1360800, 1364400, 1368000, 1371600, 1375200, 1378800, 1382400,
       1386000, 1389600, 1393200, 1396800, 1400400, 1404000, 1407600,
       1411200, 1414800, 1418400, 1422000, 1425600, 1429200, 1432800,
       1436400, 1440000, 1443600, 1447200, 1450800, 1454400, 1458000,
       1461600, 1465200, 1468800, 1472400, 1476000, 1479600, 1483200,
       1486800, 1490400, 1494000, 1497600, 1501200, 1504800, 1508400,
       1512000, 1515600, 1519200, 1522800, 1526400, 1530000, 1533600,
       1537200, 1540800, 1544400, 1548000, 1551600, 1555200, 1558800,
       1562400, 1566000, 1569600, 1573200, 1576800, 1580400, 1584000,
       1587600, 1591200, 1594800, 1598400, 1602000, 1605600, 1609200,
       1612800, 1616400, 1620000, 1623600, 1627200, 1630800, 1634400,
       1638000, 1641600, 1645200, 1648800, 1652400, 1656000, 1659600,
       1663200, 1666800, 1670400, 1674000, 1677600, 1681200, 1684800,
       1688400, 1692000, 1695600, 1699200, 1702800, 1706400, 1710000,
       1713600, 1717200, 1720800, 1724400, 1728000, 1731600, 1735200,
       1738800, 1742400, 1746000, 1749600, 1753200, 1756800, 1760400,
       1764000, 1767600, 1771200, 1774800, 1778400, 1782000, 1785600,
       1789200, 1792800, 1796400, 1800000, 1803600, 1807200, 1810800,
       1814400, 1818000, 1821600, 1825200, 1828800, 1832400, 1836000,
       1839600, 1843200, 1846800, 1850400, 1854000, 1857600, 1861200,
       1864800, 1868400, 1872000, 1875600, 1879200, 1882800, 1886400,
       1890000, 1893600, 1897200, 1900800, 1904400, 1908000, 1911600,
       1915200, 1918800, 1922400, 1926000, 1929600, 1933200, 1936800,
       1940400, 1944000, 1947600, 1951200, 1954800, 1958400, 1962000,
       1965600, 1969200, 1972800, 1976400, 1980000, 1983600, 1987200,
       1990800, 1994400, 1998000, 2001600, 2005200, 2008800, 2012400,
       2016000, 2019600, 2023200, 2026800, 2030400, 2034000, 2037600,
       2041200, 2044800, 2048400, 2052000, 2055600, 2059200, 2062800,
       2066400, 2070000, 2073600, 2077200, 2080800, 2084400, 2088000,
       2091600, 2095200, 2098800, 2102400, 2106000, 2109600, 2113200,
       2116800, 2120400, 2124000, 2127600, 2131200, 2134800, 2138400,
       2142000, 2145600, 2149200, 2152800, 2156400, 2160000, 2163600,
       2167200, 2170800, 2174400, 2178000, 2181600, 2185200, 2188800,
       2192400, 2196000, 2199600, 2203200, 2206800, 2210400, 2214000,
       2217600, 2221200, 2224800, 2228400, 2232000, 2235600, 2239200,
       2242800, 2246400, 2250000, 2253600, 2257200, 2260800, 2264400,
       2268000, 2271600, 2275200, 2278800, 2282400, 2286000, 2289600,
       2293200, 2296800, 2300400, 2304000, 2307600, 2311200, 2314800,
       2318400, 2322000, 2325600, 2329200, 2332800, 2336400, 2340000,
       2343600, 2347200, 2350800, 2354400, 2358000, 2361600, 2365200,
       2368800, 2372400, 2376000, 2379600, 2383200, 2386800, 2390400,
       2394000, 2397600, 2401200, 2404800, 2408400, 2412000, 2415600,
       2419200, 2422800, 2426400, 2430000, 2433600, 2437200, 2440800,
       2444400, 2448000, 2451600, 2455200, 2458800, 2462400, 2466000,
       2469600, 2473200, 2476800, 2480400, 2484000, 2487600, 2491200,
       2494800, 2498400, 2502000, 2505600, 2509200, 2512800, 2516400,
       2520000, 2523600, 2527200, 2530800, 2534400, 2538000, 2541600,
       2545200, 2548800, 2552400, 2556000, 2559600, 2563200, 2566800,
       2570400, 2574000, 2577600, 2581200, 2584800, 2588400, 2592000,
       2595600, 2599200, 2602800, 2606400, 2610000, 2613600, 2617200,
       2620800, 2624400, 2628000, 2631600, 2635200, 2638800, 2642400,
       2646000, 2649600, 2653200, 2656800, 2660400, 2664000, 2667600,
       2671200, 2674800])

In [ ]:
_ = lab02.grade('q5100')

## 5.2. Working with single elements of arrays ("indexing")
Here's how we get single things out of arrays:

In [38]:
interesting_numbers.item(2)

-1.0

Run that cell.  The value of that expression is the number -1, because that's the 2nd thing after the first in the array `interesting_numbers`.

The things in an array are called its *elements*.  For example, in the array you created called `hello_world_components`, `"Hello"` was the first element, `","` was the second element, and so on.  We refer to individual elements by where they show up in the array.  More precisely, we refer to an element by the number of elements that appear *before* that element.  That's called the element's *index* in the array.  In `hello_world_components`, `"Hello"` had index 0, `","` had index 1, `" "` had index 2, etc.

**Question 5.2.0.** What is the index of the first element of `interesting_numbers`?  Set `index_of_first_element` to that index (a number).

In [39]:
index_of_first_element = 0 #SOLUTION

In [ ]:
_ = lab02.grade('q520')

Arrays provide the method `item` for retrieving their elements.  Its argument is the index of the element you want.  `some_array.item(index)` returns the element of `some_array` at index `index`.  Here are some examples.  Run each cell to see what happens:

In [40]:
more_numbers = np.array([0.125, 4.75, -1.3])

In [ ]:
more_numbers.item(0)

In [ ]:
more_numbers.item(1)

In [ ]:
more_numbers.item(2)

In [ ]:
more_numbers.item(3)

In [41]:
np.array([-1, -3, 4, -2]).item(3)

-2

**Question 5.2.1.** Set `last_interesting_number` to the last element of `interesting_numbers`, using `item`.

In [42]:
last_interesting_number = interesting_numbers.item(4) #SOLUTION
last_interesting_number

2.718281828459045

In [ ]:
_ = lab02.grade('q521')

Indexing is often tremendously confusing to people when they first see it.  It's of course more natural to think of `more_numbers.item(1)` as the *first* element of `more_numbers`, but it's actually the second element!  So-called "0-based indexing" actually makes other things less confusing, though, and you might come to appreciate it later.  A good way to remember the way indexing works is: the index of an element is the number of elements *before* it.

## 5.3. Doing something to every element of an array
NumPy provides many functions for working with every element of an array at once.  Here is an example.  Below we have created an array called `world_population` that includes estimated world populations in every year from 1950 to roughly the present.  (The estimates come from the [US Census Bureau website](http://www.census.gov/population/international/data/worldpop/table_population.php).)

In [43]:
world_population = np.array([2557628654, 2594939877, 2636772306, 2682053389, 2730228104, 2782098943,
2835299673, 2891349717, 2948137248, 3000716593, 3043001508, 3083966929,
3140093217, 3209827882, 3281201306, 3350425793, 3420677923, 3490333715,
3562313822, 3637159050, 3712697742, 3790326948, 3866568653, 3942096442,
4016608813, 4089083233, 4160185010, 4232084578, 4304105753, 4379013942,
4451362735, 4534410125, 4614566561, 4695736743, 4774569391, 4856462699,
4940571232, 5027200492, 5114557167, 5201440110, 5288955934, 5371585922,
5456136278, 5538268316, 5618682132, 5699202985, 5779440593, 5857972543,
5935213248, 6012074922, 6088571383, 6165219247, 6242016348, 6318590956,
6395699509, 6473044732, 6551263534, 6629913759, 6709049780, 6788214394,
6866332358, 6944055583, 7022349283, 7101027895, 7178722893, 7256490011])

Here is one simple question we might ask about world population: How big is it *in orders of magnitude*?  The logarithm function is one way of measuring how big a number is.  The logarithm (base 10) of a number increases by 1 every time we multiply the number by 10.  It's like a measure of how many digits the number has.

NumPy provides a function called `log10` that takes the logarithm of each element of an array.  It takes a single array of numbers as its argument and returns an array of the same length, where the first element of the result is the logarithm of the first element of the argument, and so on.

**Question 5.3.0.** Set `log_world_population` to an array whose first element is the logarithm of the population in 1950, whose second element is the logarithm of the population in 1951, and so on.  This would take quite awhile to do by hand.  Your code should be very short.

In [44]:
log_world_population = np.log10(world_population) #SOLUTION
log_world_population

array([ 9.40783749,  9.4141273 ,  9.42107263,  9.42846742,  9.43619893,
        9.44437257,  9.45259897,  9.46110062,  9.4695477 ,  9.47722498,
        9.48330217,  9.48910971,  9.49694254,  9.50648175,  9.51603288,
        9.5251    ,  9.53411218,  9.54286695,  9.55173218,  9.56076229,
        9.56968959,  9.57867667,  9.58732573,  9.59572724,  9.60385954,
        9.61162595,  9.61911264,  9.62655434,  9.63388293,  9.64137633,
        9.64849299,  9.6565208 ,  9.66413091,  9.67170374,  9.67893421,
        9.68632006,  9.69377717,  9.70132621,  9.70880804,  9.7161236 ,
        9.72336995,  9.73010253,  9.73688521,  9.74337399,  9.74963446,
        9.75581413,  9.7618858 ,  9.76774733,  9.77343633,  9.77902438,
        9.7845154 ,  9.78994853,  9.7953249 ,  9.80062024,  9.80588805,
        9.81110861,  9.81632507,  9.82150788,  9.82666101,  9.83175555,
        9.83672482,  9.84161319,  9.84648243,  9.85132122,  9.85604719,
        9.8607266 ])

In [ ]:
_ = lab02.grade('q530')

# 6. Wrap-up
Today you learned about strings, boolean (True/False) values, and arrays.  You also learned how to import code and how to use dots to access names inside modules (or methods inside other values).

Here are some questions to bring together these pieces.

**Question 6.0.** The Greek philosopher Plato wrote many works called *dialogues*.  His thinking evolved over the years in which he wrote, and Plato scholars divide his dialogues into Early, Middle, and Late periods.

The following cell creates two arrays of strings.  `early_dialogues` is an array of the titles of the Early dialogues, and `middle_dialogues` is an array of the titles of the Middle dialogues.  (The data are from the [Internet Sacred Text Archive](http://www.sacred-texts.com/cla/plato/).)  Set `more_early_dialogues` to a boolean value that is `True` if there are more Early dialogues than Middle dialogues, and `False` otherwise.  (If there is a tie, set it to `False`.)

*Hint:* Remember the `len` function?  It works on arrays, too.

In [45]:
early_dialogues = np.array(["Apology", "Crito", "Charmides", "Laches", "Lysis", "Euthyphro", "Ion"])
middle_dialogues = np.array(["Gorgias", "Protagoras", "Meno", "Euthydemus", "Cratylus", "Phaedo", "Phaedrus", "Symposium", "The Republic", "Theaetetus", "Parmenides"])
more_early_dialogues = len(early_dialogues) > len(middle_dialogues) #SOLUTION
more_early_dialogues

False

In [ ]:
_ = lab02.grade('q60')

**Question 6.1.** The US Census Bureau estimates (to which, recall, we gave the name `world_population`) are not the only estimates of world population.  The United Nations Department of Economic and Social Affairs also produces [estimates](http://esa.un.org/unpd/wpp/Download/Standard/Population/), and they are slightly different.  `un_world_population` in the next cell contains all the estimates since 1950.

Next time you'll learn how to write code to compare all the estimates.  But the first thing we should check when investigating the two datasets is whether we have data from the same number of years in both!  Set `same_number_of_years` to `True` if we do, and `False` otherwise.

In [46]:
un_world_population = np.array([2525149312, 2571867515, 2617940399, 2664029010, 2710677773, 2758314525, 2807246148, 2857662910, 2909651396, 2963216053, 3018343828, 3075073173, 3133554362, 3194075347, 3256988501, 3322495121, 3390685523, 3461343172, 3533966901, 3607865513, 3682487691, 3757734668, 3833594894, 3909722120, 3985733775, 4061399228, 4136542070, 4211322427, 4286282447, 4362189531, 4439632465, 4518602042, 4599003374, 4681210508, 4765657562, 4852540569, 4942056118, 5033804944, 5126632694, 5218978019, 5309667699, 5398328753, 5485115276, 5570045380, 5653315893, 5735123084, 5815392305, 5894155105, 5971882825, 6049205203, 6126622121, 6204310739, 6282301767, 6360764684, 6439842408, 6519635850, 6600220247, 6681607320, 6763732879, 6846479521, 6929725043, 7013427052, 7097500453, 7181715139, 7265785946, 7349472099])
same_number_of_years = len(un_world_population) == len(world_population) #SOLUTION
same_number_of_years

True

In [ ]:
_ = lab02.grade('q61')

You're done with Lab 2!  Be sure to run the tests and verify that they all pass, then choose **Save and Checkpoint** from the **File** menu, then run this final cell:

In [ ]:
# Run this cell to submit your work *after* you have passed all of the test cells.
# It's ok to run this cell multiple times. Only your final submission will be scored.

#!TZ=America/Los_Angeles ipython nbconvert --output=".lab02_$(date +%m%d_%H%M)_submission.html" lab02.ipynb && echo "Submitted Successfully"

In [ ]:
import gsExport
gsExport.generateSubmission()

Which of these files is your notebook?
1 ./lab02-Copy1.ipynb
2 ./lab02.ipynb
3 ./lab02_solution.ipynb
Which item do you want? (1-3)3
Processing ./lab02_solution.ipynb
Base Notebook processing ./grading/lab02-Copy1.ipynb
Grading using the lab02.ok file
Generated notebook and autograded